{% extends "skeleton.html" %}
{% block content %}

<h3>API (JSON-RPC 2.0)</h3>
<hr />

<p>Браузер для API (JSON-RPC 2.0) поможет просмотреть список поддерживаемых методов, позволит отправить запросы, получить данные и отобразить результаты.</p>

{% include '/inc/js-stub.html' %}

{% endblock %}

{% block breadcrumb %}
<ul>
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li>API</li>
</ul>
{% endblock %}
